$background-color-blue: #1eb7ee;
$background-color-white: #fff;
$background-color-light-gray: #eef2f5;
$background-color-gray: #95989a;

$text-color-white: #fff;
$text-color-blue: #1eb7ee;
$text-color-gray: #95989a;

$main-shadow: 0px 0px 8px 0px rgba(34, 39, 80, 0.2);