.table-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__item {
    height: 4em;
    background: $background-color-white;
    display: flex;
    align-items: center;
  }
}

.logo {
  width: 50px;
  height: 25px;
  margin-right: 10%;
}

li:nth-child(even) {
  background-color: $background-color-gray;
}